
<link href="{maccms:path_tpl}images/icon.jpg" rel="apple-touch-icon-precomposed">
<link href="{maccms:path_tpl}images/icon.jpg" rel="apple-touch-icon">
<link href="{maccms:path_tpl}css/index.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{maccms:path_tpl}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}js/jquery-lazyload.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}js/jquery.base.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}js/home.js"></script>

