<script src="{maccms:path_ads}anniu.js"></script>
<div class="footer">
<div class="fBox">
<div class="footer_nav"><a href="{maccms:getlink zb.html}" target="_self">热播频道</a>-<a href="{maccms:link_gbook}" target="_self">留言</a>-<a href="https://jinshuju.net/f/7cSMUz" target="_self"><!--此处不建议删除，方便我们收集频道失效反馈信息-->报错</a></div>
{maccms:name} 公众号：【{maccms:qq}】<p>邮箱:{maccms:email}&nbsp;&nbsp;&nbsp; {maccms:visits}</p>
<div class="footer_nav">{maccms:link num=20}   

    <a href="[link:link]" target="_blank">[link:name]</a>|	

	{/maccms:link}</div>
<marquee direction="left" align="bottom"  width="90%" onmouseout="this.start()" onmouseover="this.stop()" scrollamount="3" scrolldelay="1">为防止丢失本站，请搜索关注公众号：【{maccms:qq}】永久免费在线观看全球直播！</marquee></div>
</div>
<script type="text/javascript" src="{maccms:path_tpl}js/zepto.min.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}js/iscroll.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}js/common.min.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}js/index.min.js"></script>

 
<style type="text/css">
.content {
	-webkit-box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;

	padding: 5px 10px;
	overflow: hidden;
	width: 100%;
	background: rgba(0, 0, 0, .8);
}
.bottom-pic {
	width: 40px;
	height:40px;
	overflow: hidden;
 -moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	float:left;
}
.bottom-pic img {
	width: 100%;
	height: 100%;
	
	padding-right:20px;
}

.dashang {
	position: absolute;
	top: 20px;
	right: 10px;

	line-height: 20px;
	color: #fff;
	background-color: #60b900;
	border-radius: 6px;

	font-size: 16px;


}
.bottom-text {
display:inline;
height:40px;
	color: #fff;
	display:inline;
	text-align:left;
	float:left;
	padding-top:3px;
	padding-left:10px;
	
	
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
	    max-width: 100%;
    height: auto;
	
}

.cd-btn {
  position: absolute;
	top: 20px;
	right: 10px;

	line-height: 30px;
	color: #fff;
	background-color: #60b900;
	border-radius: 4px;

	font-size: 16px;
}


.content {
	-webkit-box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;

	padding: 5px 10px;
	overflow: hidden;
	width: 100%;
	background: rgba(0, 0, 0, .8);
}
.bottom-pic {
	width: 40px;
	height:40px;
	overflow: hidden;
	-webkit-border-radius: 5px;
	float:left;
}
.bottom-pic img {
	width: 100%;
	height: 100%;
	
	padding-right:20px;
}

.dashang {
	position: absolute;
	top: 20px;
	right: 10px;

	line-height: 20px;
	color: #fff;
	background-color: #60b900;
	border-radius: 6px;

	font-size: 16px;


}
.bottom-text {
display:inline;
height:40px;
	color: #fff;
	display:inline;
	text-align:left;
	float:left;
	padding-top:3px;
	padding-left:10px;
	
	
}
.bottom-text2 {
display:inline;
height:15px;
	color: #fff;
	display:inline;
	text-align:left;
	float:left;
	padding-top:2px;
	padding-left:10px;
	
	
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
	    max-width: 100%;
    height: auto;
	
}

.cd-btn {
  position: absolute;
	top: 20px;
	right: 10px;

	line-height: 30px;
	color: #fff;
	background-color: #60b900;
	border-radius: 4px;

	font-size: 16px;
}

</style>

