
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>搜索{page:key}_{maccms:name}</title>
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
<meta content="" name="Description">
<meta content="" name="Keywords">
<meta content="telephone=no" name="format-detection" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta content="{maccms:name}" name="apple-mobile-web-app-title">
{maccms:include}
</head><body>
<header id='test' class="header clearfix">
         <a href="javascript:void(0);" target="_self" class="aChannel top_channel_btn"><span>导航</span><i class="moreArrow"></i></a>  <a href="javascript:void(0);" target="_self" class="aHeaderSearch top_search_btn"><i class="globalIcon searchIcon"></i><em>搜索频道</em></a>
    <a href="http://{maccms:url}" target="_self" class="aHeaderFun"><i class="globalIcon indexIcon"></i><span>首页</span></a><p class="headerChannelList">
<a  target="_self" href="http://{maccms:url}">首页</a>
{maccms:menu type=parent order=asc table=vod}<a {if-A:{maccms:curvodtypeid}=[menu:id]}class="current" {endif-A}href="[menu:link]" {if-A:[menu:id]=1}{endif-A}{if-A:[menu:id]=2}{endif-A}{if-A:[menu:id]=4}{endif-A}{if-A:[menu:id]=3}{endif-A}{if-A:[menu:id]=5}{endif-A}{if-A:[menu:id]=6}{endif-A} target="_self" >[menu:name]</a> {/maccms:menu}</p>
<section class="searchPop popShow">
<section class="searchCon">
<form id="ffsearch" name="ffsearch" method="post" action="{maccms:link_search_vod}"><span class="sSearchInput"><input autocomplete="off" autovalue="请输入频道名" class="searchInput" placeholder="请输入频道名" type="search" id="wd" name="wd"><i class="iDelete" style="display: none;"></i></span><input type="submit" id="searchbutton"  class="cancelInput" value="搜索" /></form></section>
<p class="pLinks">
 {maccms:vod num=10 by=hits type=all order=desc}
 <a href="[vod:link]" target="_self" title="[vod:name]"><span class="sName">[vod:name]</span><span class="sStyle">[vod:typename]</span></a>
 {/maccms:vod}</p> 
 </section>
	</header>

<div class="mask" id="common_mask"></div>  
  
<div class="top_nav">
<a class="cur" href="javascript:;" data="type-vod">{page:key}直播(<em>共{page:datacount}个</em>)</a>
</div>
<div class="main">
<div class="all_tab top">  
<ul class="new_tab_img" id="resize_list">{maccms:vod pagesize=20 order=desc by=time}
<li><a href="[vod:playlink]" title="[vod:name]" target="_self">
 </a>
</li>{/maccms:vod}</ul>
</div>
	    <!-- 分页 -->
    <div class="ui-vpages">
      <div class="fenye">
        <ul>
          {maccms:pages len=0}
          <li class="xifenye" id="xifenye">{page:now}/{page:count}</li>
        </ul>
      </div>
    </div>
    <!--	 分页 -->
{maccms:foot}
</body>
</html>