<header>
  <p class="headLeft"><a href="{maccms:path}?m=user-index.html" class="aLogo"></a></p>
  <p class="headRight"><a class="nav-link logoutbt" href="{maccms:path}" target="_self">网站首页</a>&nbsp;&nbsp;&nbsp;<a class="nav-link logoutbt" href="index.php?m=user-logout-flag-main.html" target="_self">会员登出</a>&nbsp;&nbsp;&nbsp;</p>
</header>
<nav class="subNav globalPadding" id="nav_menu" style="display:block">
  <div class="con clearfix">
    <p>
    <a href="index.php?m=user-info.html">信息</a>
    <a href="index.php?m=user-fav.html">收藏</a>
    <a href="index.php?m=user-plays.html">播放</a>
    <a href="index.php?m=user-downs.html">下载</a>
    <a href="index.php?m=user-pay.html">充值升级VIP</a>
    </p>
  </div>
</nav>
